<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <link href="C:/Users/I.C.T/Desktop/fontawesome/css/all.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fixed_template :: navbar"></div>

<div>
    <h2>Your shopping Cart: </h2>
</div>

<div class="row m-1">

    <div class="col-sm-8">
        <th:block th:each="item, status : ${cartItems}">
            <div class="row border rounded" th:with="product = ${item.product}" th:id="'row' + ${status.count}">
                <div class="col-1">
                    <div>[[${status.count}]]</div>
                    <div>
                        <a class="link-remove" th:href="@{'/shopping/cart/remove/' + ${product.id}}" th:rowNumber="${status.count}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <p>IMAGE</p>
                </div>
                <div class="col-6">
                    <div>
                        <a th:href="@{'shopping/cart/get/' + ${product.id}}" th:title="${product.name}" target="_blank">
                            <b>[[${product.name}]]</b>
                        </a>
                    </div>
                    <div th:replace="quantity_control :: quantity_control(${item.quantity}, ${item.product.id})">
                        Quantity
                    </div>
                    <div>
                        <span>x</span>
                        <span>$[[${product.defaultPrice}]]</span>
                    </div>
                    <div>
                        <span>=&nbsp;</span><span class="h4">$</span>
                        <span class="h4 productSubtotal" th:id="'subtotal' + ${product.id}">[[${item.subtotal}]]</span>
                    </div>
                </div>
            </div>
            <div class="row m-1">&nbsp;</div>
        </th:block>
    </div>

    <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
        <div>
            <span class="h3">Estimated total:</span>
        </div>
        <div class="mt-2">
            <span class="h2" id="totalAmount"></span>
        </div>
        <div class="mt-2">
            <a class="btn btn-danger p-3 mt-2">Check Out</a>
        </div>
    </div>

</div>

<div th:if="${#lists.isEmpty(cartItems)}">
    <h3>You have not chosen any products yet!</h3>
</div>

<div th:replace="fixed_template :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<script type="text/javascript">

    contextPath = "[[@{/}]]";

</script>

<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>

</body>
</html>